.slide-bar {
    width: 20%;
    padding: 1rem;
    min-height: 100vh;
    padding-top: 30px;
    background-color: white;
}



.slide-bar ul {
    padding-top: 30px
}

.slide-bar ul li {
    background-color: rgba(0, 0, 255, 0.12);
    font-size: 1.1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    margin-top: 15px;
    border-radius: 9px;
    cursor: pointer;

}

.slide-bar ul li:hover {
    background-color: blueviolet;

}

.slide-bar ul li:hover h3 {
    color: white;

}

.slide-bar ul li h3 {
    color: gray;
    text-transform: capitalize;
    width: 60%;
}

.slide-bar ul .icon-container {
    color: gray;
    text-transform: capitalize;
    background-color: blueviolet;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;

}

.slide-bar ul li i {
    color: white;

}


@media(max-width:767px) {
    .slide-bar {
        display: none;
        width: 0px;

    }

}